<div>

    <h1>Registro</h1>

    <form action="/api/products" method="post">

        <label>Title</label>

        <input name="title">

        <label>Description</label>

        <input name="description">

        <label></label>

        <input name="email">

        <label>Edad</label>

        <input type="number" name="age">

        <label>Teléfono</label>

        <input name="phone">

        <input type="submit">

    </form>

</div>